<nav class="navbar navbar-default navbar-cls-top" role="navigation">

  <div class="navbar-header">
  <a  routerLink="dashboard" routerLinkActive="active"> <img src="assets/img/Untitled.png"></a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span> 
  </button>-->
  
  </div>
  <div class="header-right">
    <button type="button"  *ngIf="logoutbtn" class="btn btn-danger"  (click)="logout()"><i class="fa fa-sign-out"></i></button>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarsExample">
  <ul class="navbar-nav mr-auto">
  <!-- <li class="nav-item">
  <a class="nav-link" *ngIf="loginbtn" routerLink="home" routerLinkActive="active">Home</a>
  </li> -->
  <li class="nav-item">
  <a class="nav-link" *ngIf="loginbtn" routerLink="login" routerLinkActive="active">Login</a>
  </li>
  <li class="nav-item">
  <button type="button" *ngIf="logoutbtn" class="btn btn-block" (click)="logout()">logout</button>
  </li>
  <li class="nav-item">
  <a class="nav-link" *ngIf="loginbtn" routerLink="registration" routerLinkActive="active">Registration</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" *ngIf="logoutbtn" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *ngIf="logoutbtn" routerLink="viewissue" routerLinkActive="active">View ALL Issues</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="logoutbtn" routerLink="viewassigned" routerLinkActive="active">View Assigned Issues</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="logoutbtn" routerLink="addissue" routerLinkActive="active">Add New Issues</a>
      </li>
</ul>
  </div>
  </nav>

 
  <div [hidden]="!logoutbtn">
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-wrapper">
      <!-- <div class="sidebar-heading">Start Bootstrap </div> -->
      <div class="list-group list-group-flush">
        <ul class="nav" style="width: 260; height: 155;" id="main-menu">
          <li style="width: 100%;">
              <div style="width: 100%;" class="user-img-div">
                  <img src="assets/img/user.png" class="img-thumbnail" />

                  <div class="inner-text">
                     {{loggedusername}}
                  <br />
                      <small>logged user : {{loggeduser}} </small>
                  </div>
              </div>

          </li>
        </ul>
        <a href="#" routerLink="dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="#" routerLink="viewissue" class="list-group-item list-group-item-action bg-light">View All Issues</a>
        <a href="#" routerLink="addissue" class="list-group-item list-group-item-action bg-light">Add New Issues</a>
        <a href="#" routerLink="viewassigned" class="list-group-item list-group-item-action bg-light">View Assigned Issues</a>
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
      </div>
    </div>
  </nav>
</div>


  <router-outlet></router-outlet>